<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.PublicSpaceMapper">
	<select id="getPublicSpace" parameterType="java.lang.Integer" resultType="com.example.demo.entity.SpaceEntity">
		SELECT todo_space_details.space_id AS 'spaceId',
			space_name AS 'spaceName',
			scope_id AS 'scopeId',
			is_simple AS 'isSimple',
			is_enabled AS 'isEnable',
			update_timestamp AS 'updateTimestamp'
		FROM
			todo_space_details
		WHERE
			todo_space_details.scope_id = 1
		AND
			todo_space_details.is_enabled = 1
		AND
			todo_space_details.space_id NOT IN(
			
				SELECT
					space_id
				FROM 
					have_user_list
				WHERE
					user_id = #{userId})
	</select>
</mapper>